<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
     <meta charset="utf-8">
     <title>DJango-Session App-3</title>
 </head>
 <body>
     <h1>DJango-Session App-3(Shopping-App)</h1>
     <hr />
     <h2>Your Shopping Cart items are ::-</h2>
     {%if request.session %}
     <table border=2 width="">
         <thead>
             <th>Item-Name</th>
             <th>Quantity</th>
         </thead>
     <tbody>
     {%for key,value in request.session.items%}
    <tr>
         <td>{{key|upper}}</td>
        <td>{{value}}</td>
     </tr>
    {%endfor%}
     </tbody>
     </table> <br /><br />
         <a href="/additem2/">Click-Here to Add-More-items</a>
         {%else%}
         <p>No Items in your shopping cart</p> <br /><br />
         <a href="/additem2/">Click-Here to Add-items...</a>
     {%endif%}
 </body>
</html>